#el-app .el-dialog {
    width: 660px;
}

#el-app .el-dialog__wrapper {
    z-index: 99998 !important;
}

#el-app .form-inline input {
    height: 36px !important;
    line-height: 1 !important;
    padding: 3px 10px !important;
}

#el-app .footer_fixed {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #fff;
    margin-top: 15px;
}

#el-app .footer_fixed_left {
    width: 24%;
    height: 100%;
}

#el-app .footer_fixed_right {
    width: 65%;
    height: 100%;
}

#el-app .ik-box {
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
}

#el-app .ik-box-pack-justify {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    box-pack: justify;
}

#el-app .ik-box-align_center {
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    box-align: center;
}

#el-app .el-pagination__editor {
    padding: 4px 2px !important;
    line-height: 18px !important;
    height: auto !important;
    border-radius: 2px !important;
}

.el-select-dropdown {
    z-index: 99999 !important;
}

#el-app .el-pagination {
    text-align: right !important;
}

/*公用tab 仿饿了么样式*/
#el-app .el-table2 {
    width: 100%;
    border-color: #dfe6ec;
    border: 1px solid #dfe6ec;
    border-collapse: collapse;
    border-spacing: 0;
}

#el-app .el-table2 .el-table2_header {
    width: 100%;
    background: #eef1f6;
}

#el-app .el-table2 tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

#el-app .el-table2 td, .el-table2 th {
    text-align: left;
    border-right: 0;
    border-left: 0;
    padding: 10px 0;
}

#el-app .el-table2 tr:hover {
/ / transition: background-color .25 s ease;
    background: #eef1f6;
}

#el-app .el-table2 .dialog-list {
    width: 100%;
    margin-top: 25px;
}

#el-app .el-table2 .dialog-list > span {
    margin-right: 28px;
}

#el-app .shop-addpage-main {
    padding: 22px 2.9% 22px 3.4%;
}

#el-app .shop-steps {
    border-bottom: 1px solid #f3f3f3;
}

#el-app .common-nav {
    width: 100%;
    padding: 16px 4%;
    border: 1px solid #eee;
    font-size: 14px;
}

#el-app .common-nav span > span:first-child {
    color: #20a0ff;
}

#el-app span:last-child > span:first-child {
    color: #666;
}

.div_position_fixed {

    width: 100%;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
}

.div_position_fixed .shop-addpage-main {
    /*padding: 22px 4%;*/
    width: 100%;
}

.shop-textc {
    text-align: center;
}

.gt-button--primary {
    color: #fff !important;
    background-color: #20a0ff !important;
    border-color: #20a0ff !important;
}

.gt-button--primary:hover {
    background: #4db3ff !important;
    border-color: #4db3ff !important;
    color: #fff;
}

.gt-button--default:hover {
    border-color: #4db3ff !important;
    color: #4db3ff !important;
}

.gt-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #c4c4c4;
    color: #1f2d3d;
    margin: 0;
    padding: 10px 15px;
    border-radius: 4px;
}

.gt-button, .gt-textarea__inner {
    font-size: 14px;
    box-sizing: border-box;
}