@charset "utf-8";

#newGroup .groupDiv {
	margin: 10px;
	height: auto;
}
input{vertical-align: middle;}
.groupDiv .font14 {
	width: 100px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
}

.groupDiv input.inpt, .groupDiv select {
	border: 1px solid #a9a9a9;
}

.groupDiv input.inpt, .groupDiv select, .groupDiv .font15 {
	width: 200px;
	height: 25px;
	line-height: 25px;
	outline: none;
}


.txt-tle1 {
	background: #e6e6e6;
}

.txt-tle0 {
	background: #ffffff;
}

.addBtn {
	background-color: #1aa1e7;
	color: #fff;
	border-radius: 3px;
	display: inline-block;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
}

.backBtn {
	background-color: #8cc717;;
	color: #fff;
	border-radius: 3px;
	display: inline-block;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	margin-left: 10px;
}

h1.groupH1 {
	font-size: 16px;
	margin: 200px auto;
	text-align: center;
}

h1 .red {
	color: red;
}

.picture-list {
	/*width: 480px;*/
	display: inline-block;
}

.picture-list .add-goods {
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
}

.app-image-list li {
	float: left;
	margin: 0 10px 10px 0;
	display: block;
	width: 50px;
	height: 50px;
	border: 1px solid #ddd;
	background-color: #fff;
	position: relative;
}

.app-image-list li img {
	width: 100%;
	height: 100%;
}

.sort .small {
	top: -8px;
	right: -8px;
	width: 18px;
	height: 18px;
	font-size: 14px;
	line-height: 16px;
	border-radius: 9px;
}

.sort .close-modal {
	position: absolute;
	z-index: 2;
	top: -9px;
	right: -9px;
	width: 20px;
	height: 20px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	background: rgba(153, 153, 153, 0.6);
	border-radius: 10px;
}

.sort:hover .close-modal {
	display: block;
}

.sort .close-modal:hover {
	background: #000000;
}

.table {
	width: 560px;
	margin-top: 15px;
	border-spacing: 0;
	border-collapse: collapse;
}

.table tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.table th {
	height: 28px;
	font-weight: 400;
	background-color: #f5f5f5;
	text-align: center;
	border: 1px solid #bbb;
}

.table td {
	border: 1px solid #bbb;
	background: #fcfcfc;
	padding: 10px;
}

.table .small-icon {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-left: 15px;
	font-size: 18px;
}

span.msg {
	margin-right: 3px;
}

.msg .error {
	background-position: 3px 3px;
	border-color: #ff8080;
	background-color: #fff2f2;
	display: inline-block;
	color: #404040;
	border: 1px solid red;
	float: left;
	padding: 2px 10px;
	line-height: 18px;
	margin-right: 10px;
}

.hui-error {
	display: none;
}

span em {
	color: red;
}

.goodDiv {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid #ddd;
	background-color: #fff;
}

.groupDiv .add-goods {
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
}

.icon-add {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url("/images/mall/icon-add.png") no-repeat 0;
	margin-top: 16px;
}

.red {
	color: red;
}

.aucType {
	height: 19px;
	line-height: 19px;
	vertical-align: middle;
}

.groupDiv input#aucLowerPriceTime {
	width: 30px;
}

.add-on {
	display: inline-block;
	width: auto;
	height: 25px;
	line-height: 25px;
}

.groupDiv input#aucLowerPrice {
	width: 84px;
}

.times_span {
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	color: #333;
	vertical-align: middle;
	cursor: pointer;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.span_a a {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 2px;
	margin-top: 20px;
}

/* span a.copy {
	background: url(/images/Copy_Paper.png) no-repeat center center;
	background-size: contain;
}
span a.copy:hover {
	background: url(/images/Copy_Paper2.png) no-repeat center center;
	background-size: contain;
} */
span a.editGroup {
	background: url(/images/input.jpg) no-repeat -36px -12px;
}

span a.editGroup:hover {
	background: url(/images/input.jpg) no-repeat 0px -12px;
}

span a.deleteGroup {
	background: url(/images/input.jpg) no-repeat -19px -12px;
}

span a.deleteGroup:hover {
	background: url(/images/input.jpg) no-repeat -53px -12px;
}

span .m_review {
	background: url(../../../images/exportiocn.jpg) -27px 21px
}

span .m_review:hover {
	background: url(../../../images/exportiocn.jpg) -2px 21px
}

span a.shiGroup {
	background: url(../../../images/mall/sx01.png);
}

span a.shiGroup:hover {
	background: url(../../../images/mall/sx02.png);
}

.isMargin {
	vertical-align: middle;
}

#hideDiv {
	display: none;
}

.groupDiv input.inpt2 {
	width: 50px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #a9a9a9;
	outline: none;
}

.inpt3{
	width: 80px;
	height: 25px;
	line-height: 25px;
	outline: none;
}

div.box1Btn {
	width: auto;
}

div.green-btn {
	background-color: #8cc717;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

div.box1Btn a {
	cursor: pointer;
	color: white;
	padding: 0px 10px;
	width: auto !important;
	margin-left: 0px !important;
}
a.nav_a{color:#000;}