html,body{
	height: 100%;
}
.warp{
	width: 12.8rem;
	margin: 0 auto;
	background-color: #f8f8f8;
	min-height: 100%;
}
header img{
	width: 100%;
}
.main{
	padding: 0.5rem 0.45rem 1rem 0.45rem;
}
.main .money{
	text-align: center;
	color: #f23030;
	font-size: 1.2rem;
	margin: 0.5rem 0;
}
.payBtn{
	text-align: center;
	display: block;
	width: 100%;
	background-color: #F23030;
	border-radius: 0.2rem;
	color: #FFFFFF;
	height: 1.34rem;
	line-height: 1.34rem;
	font-size: 0.5rem;
}
.info p:nth-of-type(1){
	padding: 0.4rem 0 0.2rem 0;
}
.info p:nth-of-type(2),.info p:nth-of-type(3){
	color: #646464;
}

.title{
	font-size: 0.4rem;
	font-weight: normal;
	padding: 0.4rem 0.3rem;
	background-color: #FFFFFF;
}
.payInfo{
	background-color: #FFFFFF;
	border-bottom: 1px solid #e5e5e7;
}
.payInfo .payMoney{
	width: 100%;
	height: 4.64rem;
	background: url(/images/mall/pay2.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.payInfo .payMoney div:nth-of-type(1){
	padding: 0.5rem 2rem;
	
}
.payInfo .payMoney div:nth-of-type(2){
	text-align: center;
	color: #f1211a;
	font-size: 0.8rem;
}
.payInfo .payMoney div:nth-of-type(2) span{
	font-size: 1rem;
}
.payInfo .payMoney div:nth-of-type(3){
	text-align: right;
	padding-right: 0.4rem;
}
.payInfo .payTime{
	text-align: center;
	margin-top: 0.6rem;
	margin-bottom: 0.3rem;
}
.payInfo .payTime span{
	background-color: #272727;
	color: #FFFFFF;
	padding: 0.1rem 0.25rem;
	border-radius: 0.1rem;
}
.payInfo .payBox{
	padding: 0 0.3rem;
}
.pad{
	padding: 0 0.3rem 0.3rem 0.3rem;
}

.payDetail{
	margin: 0.3rem 0;
	background-color: #FFFFFF;
	border-bottom: 1px solid #e5e5e7;
}
.payDetail .detailTit{
	height: 1.28rem;
	line-height: 1.28rem;
	color: #5d5d5d;
	padding-left: 0.3rem;
}
.payDetail ul{
	margin-left: 0.3rem;
	border-top: 1px solid #e5e5e7;
}
.payDetail .item {
	display: table;
	width: 100%;
	border-bottom: 1px solid #e5e5e7;
}
.payDetail .item:last-child{
	border-bottom: none;
}
.payDetail .item .itemPic{
	display: table-cell;
	width: 1.66rem;
	height: 1.66rem;
	padding: 0.26rem 0;
}
.payDetail .item .itemPic img{
	width: 1.66rem;
	height: 1.66rem;
	vertical-align: top;
}
.item-detail{
	padding-top: 0.26rem;
	padding-left: 0.4rem;
	display: table-cell;
	width: 10rem;
}
.item-detail div:nth-of-type(1){
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 10rem;
}
.item-detail div:nth-of-type(2){
	margin-top: 0.3rem;
}
.item-detail div:nth-of-type(2) label{
	margin-right: 0.8rem;
}
.jxBtn{
	background-color: #ff8522;
}