.app-preview{
    position: relative;
    float: left;
    width: 350px;
    border: 1px solid #e5e5e5;
    border-bottom-width: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border-radius: 18px 18px 0 0;
    margin-top: 50px;
    margin-left: 50px;
}
.app-preview .app-header{
    height: 70px;
    background: url("../../images/iphone_head.png") no-repeat center center;
}
.app-preview .app-entry {
    width: 320px;
    margin: 0 auto;
    padding-bottom: 11px;
    min-height: 200px;
    border: 1px solid #c5c5c5;
    background: #f9f9f9;
}
.app-preview .app-title h1{
    padding: 18px 60px 0 60px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: url("../../images/titlebar.png") no-repeat;
}
.app-preview .app-title h1 span{
    display: inline-block;
    height: 46px;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.app-preview .app-add-field{
    position: relative;
    left: -1px;
    top: -1px;
    border: 1px solid #ddd;
    padding: 0 14px 4px 14px;
    background: #f8f8f8;
    width: 350px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.app-preview .js-add-region h4 {
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
}
.app-preview .js-add-region ul {
    color: #333;
    font-size: 12px;
    margin-left: -5px;
    zoom: 1;
}
.app-preview .js-add-region ul:after {
    content: "";
    display: table;
    clear: both;
}
.app-preview .js-add-region li {
    float: left;
    display: table;
    margin: 0 0 10px 5px;
    background: #fff;
}
.app-preview .js-add-region li a{
    display: table-cell;
    width: 60px;
    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #07d;
    text-decoration: none;
}
.app-sidebar{
    position: relative;
    float: left;
    width: 480px;
    margin-left: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}
.app-sidebar .arrow,.app-sidebar .arrow:after{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 10px 8px 0;
    border-color: transparent #d1d1d1 transparent transparent;
    position: absolute;
    left: -10px;
    top: 19px;
}
.app-sidebar .arrow:after{
    content: "";
    border-right-color: #f8f8f8;
    left: 1px;
    top: -8px;
}
.app-sidebar .app-sidebar-inner{
    padding: 12px 10px;
    min-height: 28px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
}
.shade{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #FFF;
    opacity: .8;
}

.app-entry .action{
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    padding: 0 5px;
    margin-left: 1px;
    font-size: 12px;
    cursor: pointer;
}

.app-preview .module{
	width:320px;
    background: #fff;
}
.app-preview .module.module-active{
	position: absolute;
	z-index:999;
}

.app-preview .module:hover .actions{
    display: block;
}

.app-preview .actions.actions-active{
	display:block
}



/************************/
.app-add-field{
    position: relative;
    padding: 0 14px 4px 14px;
    background: #f8f8f8;
    width: 350px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.app-add-field h4{
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
}
.app-add-field ul{
    color: #333;
    font-size: 12px;
    margin-left: -5px;
    zoom: 1;
}
.app-add-field ul li{
    float: left;
    display: table;
    margin: 0 0 10px 5px;
    background: #fff;
}
.app-add-field ul li a{
    display: table-cell;
    width: 60px;
    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #07d;
    text-decoration: none;
}
