<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商城概况</title>
  <link rel="shortcut icon" href="../../bitbug_favicon.ico"><link href="../../static/css/vendor-a917a08edd166fe54ac60126b9c2bba1.css?d836c27f5769beb8405c" rel="stylesheet"><link href="../../static/css/views/survey/index-e52519c6ed5bd99a3e769766e6ab2fcb.css?d836c27f5769beb8405c" rel="stylesheet"></head>
  <body>
    <div id="app">
	  </div>
  <script type="text/javascript" src="../../static/js/vendor-f4ef3162eaa3858ee695.js?d836c27f5769beb8405c"></script><script type="text/javascript" src="../../static/js/views/survey/index-08b517e7526a0942aba0.js?d836c27f5769beb8405c"></script></body>
</html>
