
.classify{
	min-height:30px;
}
.classify td{
	background-color:#f9f9f9!important;
   	width: 25%;
}
.classify td span{
	display:none;
}

/*******************************************************/

.classifyDirective .controls tr td{
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    color: #ccc;
    box-sizing: border-box;
    font-size: 13px;
}
.classifyDirective .controls tr td.empty:after{
	content:"+";
}
.classifyDirective .controls tr td img{
    max-height: 100%;
    max-width: 100%;
}
.classifyDirective table td span{
    color: #666;
}
.classifyDirective table td.index-0 {
    background-color: #eaeaea
}

.classifyDirective table td.index-1 {
    background-color: #eaeaea
}

.classifyDirective table td.index-2 {
    background-color: #eaeaea
}

.classifyDirective table td.index-3 {
    background-color: #eaeaea
}

.classifyDirective table td.index-4 {
    background-color: #eaeaea
}

.classifyDirective table td.index-5 {
    background-color: #eaeaea
}

.classifyDirective table td.index-6 {
    background-color: #eaeaea
}

.classifyDirective table td.index-7 {
    background-color: #eaeaea
}

.classifyDirective table td.index-8 {
    background-color: #eaeaea
}

.classifyDirective table td.index-9 {
    background-color: #eaeaea
}

.classifyDirective table td.index-10 {
    background-color: #eaeaea
}

.classifyDirective table td.index-11 {
    background-color: #eaeaea
}

.classifyDirective table td.index-12 {
    background-color: #eaeaea
}

.classifyDirective table td.index-13 {
    background-color: #eaeaea
}

.classifyDirective table td.index-14 {
    background-color: #eaeaea
}

.classifyDirective table td.index-15 {
    background-color: #eaeaea
}

.classifyDirective table td.rows-2 {
    height: 120px
}

.classifyDirective table td.rows-3 {
    height: 180px
}

.classifyDirective table td.rows-4 {
    height: 240px
}

/****************************************************************************************/
.layout_tank{
    width: 650px;
    margin-left: -325px;
    position: fixed;
    top:10%;
    left: 50%;
    display: none;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.3);
    box-shadow: 0 3px 7px rgba(0,0,0,.3);
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    z-index: 9999;
}

.layout_tank_header{
    padding: 9px 15px 6px 25px;
    border-bottom: 1px solid #eee;
    font-size: 0px;
    line-height: 18px;
    font-weight:bold;
}
.layout_tank_header span{
    color: #333;
    margin-right: 8px;
    font-size: 14px;
}
.layout_tank_header i{
    font-size: 14px;
    margin-right: 3px;
}
.layout_tank_header a{
    font-size: 14px;
    color: #07d;
    margin-right: 8px;
}
.layout_tank_header a.close{
    float: right;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    line-height: 20px;
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: pointer;
}
.layout_tank_header a:hover.close{
    opacity: .4;
    filter: alpha(opacity=40);
}
.layout_tank_body{
    position: relative;
    max-height: 400px;
    padding: 40px 0px;
    overflow-y: auto;
    font-size: 12px;
    text-align: center;
}
.layout_tank_body ul{
    float: left;
}
.layout_tank_body li{
    margin: 1px;
    background: #f8f8f8;
    width: 60px;
    height: 60px;
    border: 1px solid #e9e9e9;
    border-right-width: 2px;
    border-bottom-width: 2px;
}
.layout_tank_body li.selected{
    background: #ddeafb;
    border-color: #c3d9ff;
}

