.other-box{
    margin-top: 10px;
    padding:0 30px;
    background-color: #FFFFFF;
}
.other-list{
    height: 92px;
    border-bottom:2px solid #e3e4e5;
    width:100%;
    margin:0 auto;
    padding:0 60px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.other-a{
    font-size:28px;
    line-height:92px;
    width:120px;
}
.other-a:not(:last-child){
    margin-right:30px;
}
.other-duofen{
    width:100%;
    height:123px;
}
.wrap-item{
    font-size: 27px;
    display: none;
    position: fixed;
    bottom: 0;
    left:0;
    background-color: #fff;
    z-index: 99999;
    width: 100%;
    overflow-y: hidden;
}
.item-bg{
    padding-top:48px;
    background: rgba(0,0,0,0.1);
}
/*overflow ellipsis*/
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
.r{float:right}
.l{float:left}
.bg-prop{
    display: block;
    margin:0 auto;
    width:618px;
    height:494px;
    background-color:#f4f4f4;
    background-position: center center;
    background-size:contain;
    background-repeat:no-repeat;
}
.item-detail{
    padding-left:24px;
}
.item-top{
    padding:15px 0;
    border-bottom:1px solid #bdbdbd;
}
.item-text{
    display: inline-block;
    width:calc(100% - 55px);
    overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
    font-size:33px;
}
.icon-close {
    display: block;
    float: right;
    height:42px;
    width:42px;
    margin-right:10px;
    background: url("/images/mall/ws/close-circle.png") no-repeat center center;
    background-size:100%;
}
.small-bg{
    display: block;
    float: left;
    width:213px;
    height:215px;
    background-color:#f4f4f4;
    background-position: center center;
    background-size:contain;
    background-repeat:no-repeat;
    border-radius:10px;
    margin-right:30px;
}
.cr-1{
    color:#f23030;
}
.small-p1{
    color:#F23030;
    margin:15px 0 44px 0;
}
.small-p2{
    color:#828282;
}
.item-box{
    border-bottom:2px solid #dbdbdb;
    padding:13px;
}
.item-tables{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lh-1{line-height:63px;}
.hand-btn{
    display: inline-block;
    border-radius:5px;
    width:126px;
    height:63px;
    line-height:63px;
    text-align: center;
}
.toAdd{
    background-color: #06bf04;
    color:#fff;
    margin-right:20px;
}
.toMinus{
    border:2px solid #e5e5e5;
    color:#828282;
}
.box-ul{margin-top:15px;}
.box-li{
    float: left;
    margin-right:35px;
    position: relative;
    width:120px;
    height:60px;
}
.color-btn{
    display: inline-block;
    height:100%;
    width:100%;
    line-height:60px;
    text-align: center;
    border:2px solid #e4393c;
    color:#e4393c;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    letter-spacing:1px;
}
.cActive{
    color:#fff;
    background-color:#e4393c;
}
.radius-num {
    display: none;
    position: absolute;
    right: -20px;
    bottom: 40px;
    min-height: 35px;
    min-width: 35px;
    padding: 5px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #e4393c;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.item-tab{
    width:100%;
}
.item-tab td,.item-tab th{
    font-size: 27px;
    padding: 15px 5px;
    text-align:center;
    box-sizing: border-box;
    -ms-word-break:break-all;
    word-break:break-all;
}
.item-thead{
    border-bottom:none;
}
.item-td-4{
    /*width:168px;*/
    width:calc(100%/5);
}
span.item-td-4{
    float: left;
    text-align: center;
}
.item-oper,.cd-item{
    display: block;
    width:168px;
    height:65px;
    margin: 0 auto;
    border:1px solid #e5e5e5;
    background-color:#e5e5e5;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.oper-active{
    border:1px solid #e4393c;
    background-color:#e4393c;
}
.oper-active>.add-icon{background-image: url(/images/mall/ws/add.png);}
.oper-active>.minus-icon{background-image: url(/images/mall/ws/minus.png);}
/*.item-oper{float:right}*/
.iProp,.bProp{
    float: left;
    display: inline-block;
    background-repeat:no-repeat;
    background-position: center center;
    background-size:32px 32px;
}
.iProp,.item-input{
    height:100%;
    width:calc(100% / 3);
}
.item-input,.item-input2{
    float: left;
    border-radius:0;
    text-align: center;
    border:none;
}
.minus-icon{
    background-image: url(/images/mall/ws/minus-disable.png);
}
.add-icon{
    background-image: url(/images/mall/ws/add-disable.png);
}
.item-end{
    line-height:75px;
    text-align: right;
    padding-right:20px;
    color:#828282;
}
.item-bottom{
    padding:8px 0 14px 0;
    width:100%;
    text-align: center;
    border-top:1px solid #cfcdcd;
}
.item-btn{
    display: inline-block;
    color:#fff;
    height:96px;
    width:312px;
    border-radius:6px;
    line-height:96px;
    text-align: center;
    letter-spacing:2px;
    font-size:31px;
}
.toSC{
    background-color:#ff8522;
}
.toWS{
    background-color:#f23030;
}
.wsInactive {
    background-color: #e5e5e5;
    color: #a5a5a5;
}
.tc{text-align:center;}
/*layer stylesheet*/
.cd-popup {
    display: none;
    position:absolute;
    top: 0;
    background-color: rgba(0,0,0,.3);
    width:100%;
    height:200%;
    z-index: 999990;
    font-size:27px;
}
.cd-main {
    position: fixed;
    top: 500px;
    left: 0;
    right: 0;
    margin: auto;
    width: 650px;
    height: 300px;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.cd-content{
    position: relative;
    text-align: center;
}
.cd-title{
    text-align: center;
    padding:20px 0;
    font-size:32px;
}
.cd-item{
    transform: scale(1.5);
    text-align: center;
    margin: 0 auto;
    margin-top:20px;
}
.item-input2{width:45%;}
.bProp{width:27.5%;}
.item-input2,.bProp{height:100%;}
.cd-bottom{
    width:100%;
    line-height:80px;
    position: absolute;
    bottom:0;
    border-top:1px solid #dadada;
    text-align: center;
}
.cd-btn{
    float: left;
    width:50%;
    letter-spacing: 1px;
}
.btnOkay{
    color:#fff;
    background-color:#f23030;
    border-bottom-right-radius:15px;
}
.cd-code{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 500px;
	height: 580px;
	background-color: #eee;
	z-index:99999;
	font-size:33px;
	color:#666;
}
.code-bg{
	width:500px;
	height:500px;
}
.codeImg{
	width:100%;
	height:100%;
}