<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css"/>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.3&key=3b73726ac868e5fcf8e26513ce6860d1&plugin=AMap.Autocomplete,AMap.PlaceSearch,AMap.Geocoder,AMap.ToolBar"></script>
    <title>商城设置</title>
  <link rel="shortcut icon" href="../../bitbug_favicon.ico"><link href="../../static/css/vendor-d7097f958d55c5be4c3ee86d4517b964.css?e230b0ba78c9dddc6a3d" rel="stylesheet"><link href="../../static/css/views/setUp/index-41230d5993d42c8befd39e37f02370ca.css?e230b0ba78c9dddc6a3d" rel="stylesheet"></head>
  <body>
    <div id="app">
       <router-view></router-view>
       <notice></notice> 
       <dialog-warn ref="dialog"></dialog-warn>
	  </div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="../../static/js/vendor-06e6b2d549f47ace97d6.js?e230b0ba78c9dddc6a3d"></script><script type="text/javascript" src="../../static/js/views/setUp/index-9e5657dbd26dec9ddf64.js?e230b0ba78c9dddc6a3d"></script></body>
</html>
