<div class="couponModule">
	<div style="width: 960px;transform: scale(0.333333);transform-origin: left top;">
		<div class="coupon-list bg-cover">
			<div class="coupon-list-t">
				<div class="coupon-list-t-l bg-cover" style="background-image: url(images/coupon_bg02.jpg)"></div>
				<div class="coupon-list-t-r">
					<div class="coupon-list-t-r-name">优惠券名称</div>
					<div class="coupon-list-t-r-price">9.8<span>折</span></div>
					<div class="coupon-list-t-r-time">2017.07.07-2017.07.08</div>
				</div>
			</div>
			<div class="coupon-list-fgx"></div>
			<div>
				<div class="coupon-list-btn">立即领取</div>
			</div>
		</div>
		
		<div class="coupon-list bg-cover">
			<div class="coupon-list-t">
				<div class="coupon-list-t-l bg-cover" style="background-image: url(images/coupon_bg02.jpg)"></div>
				<div class="coupon-list-t-r">
					<div class="coupon-list-t-r-name">优惠券名称</div>
					<div class="coupon-list-t-r-price">9.8<span>折</span></div>
					<div class="coupon-list-t-r-time">2017.07.07-2017.07.08</div>
				</div>
			</div>
			<div class="coupon-list-fgx"></div>
			<div>
				<div class="coupon-list-btn">立即领取</div>
			</div>
		</div>
		
		<div class="coupon-list bg-cover">
			<div class="coupon-list-t">
				<div class="coupon-list-t-l bg-cover" style="background-image: url(images/coupon_bg02.jpg)"></div>
				<div class="coupon-list-t-r">
					<div class="coupon-list-t-r-name">优惠券名称</div>
					<div class="coupon-list-t-r-price">9.8<span>折</span></div>
					<div class="coupon-list-t-r-time">2017.07.07-2017.07.08</div>
				</div>
			</div>
			<div class="coupon-list-fgx"></div>
			<div>
				<div class="coupon-list-btn">立即领取</div>
			</div>
		</div>
	</div>
</div>
<div class="actions">
    <div class="actions-wrap"><span class="action edit">编辑</span><span class="action add" ng-click="addmoduleAny($index+1,$event)">加内容</span><span class="action delete" ng-click="removemodule($index)">删除</span></div>
</div> 