.richTextModule *{max-width: 100%;margin:0;padding:0;font-style:normal;box-sizing: border-box!important;-webkit-box-sizing: border-box!important;word-wrap: break-word!important;}

.richTextModule p{clear:both;margin:0 0;min-height:1em;white-space: normal;white-space:pre-wrap;}
.richTextModule a{color:#607fa6;text-decoration:none}
.richTextModule img{*zoom:1;max-width:100%;*max-width:96%;height:auto !important;}

.richTextModule{
	overflow: hidden;
}

.richTextModule .custom-richtext {
    padding: 0 10px;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    overflow: hidden;
    text-align: left;
    word-wrap: break-word;
    position: relative
}

.richTextModule .custom-richtext img+br {
    display: block;
    padding: 4px 0;
    content: ' '
}

.richTextModule .custom-richtext p {
    margin: 0 0 1em 0
}

.richTextModule .custom-richtext .Powered-by-XIUMI p {
    margin: 0
}

.richTextModule .custom-richtext a {
    color: #07d
}

.richTextModule .custom-richtext img {
    background: none;
    max-width: 100% !important;
    min-height: 1px;
    width: auto !important;
    vertical-align: bottom
}

.richTextModule .custom-richtext ul,.richTextModule .custom-richtext ol {
    list-style-position: inside;
    padding-left: 0
}

.richTextModule .custom-richtext ol {
    width: auto !important
}

.richTextModule .custom-richtext blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 18px;
    border-left: 5px solid #EEE
}

.richTextModule .custom-richtext em,.richTextModule .custom-richtext i {
    font-style: italic
}

.richTextModule .custom-richtext strong,.richTextModule .custom-richtext b {
    font-weight: bold
}

.richTextModule .custom-richtext .selectTdClass {
    background-color: #edf5fa !important
}

.richTextModule .custom-richtext table.noBorderTable td,.richTextModule .custom-richtext table.noBorderTable th,.richTextModule .custom-richtext table.noBorderTable caption {
    border: 1px dashed #ddd !important
}

.richTextModule .custom-richtext table {
    margin-bottom: 10px;
    border-collapse: collapse;
    display: table;
    width: auto !important
}

.richTextModule .custom-richtext td,.richTextModule .custom-richtext th {
    padding: 5px 10px;
    border: 1px solid #ddd
}

.richTextModule .custom-richtext caption {
    border: 1px dashed #ddd;
    border-bottom: 0;
    padding: 3px;
    text-align: center
}

.richTextModule .custom-richtext th {
    border-top: 2px solid #bbb;
    background: #f7f7f7
}

.richTextModule .custom-richtext .ue-table-interlace-color-single {
    background-color: #fcfcfc
}

.richTextModule .custom-richtext .ue-table-interlace-color-double {
    background-color: #f7faff
}

.richTextModule .custom-richtext td p {
    margin: 0;
    padding: 0
}

.richTextModule .custom-richtext .bottom-floating-banner {
    position: fixed !important;
    bottom: 0
}


/****************************************************************************/

.richTextDirective #editor-trigger {
    height: 300px;
    max-height: 500px;
}