html, body {
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #f0f2f5;
}

/*使用注意：
flex下的子元素必须为块级元素，非块级元素在android2.3机器下flex失效
flex下的子元素宽度和高度不能超过父元素，否则会导致子元素定位错误，例如水平垂直居中*/
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-v {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-pack-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-pack-justify {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.Warp {
    width: 870px;
    margin: 0 auto;
    min-height: 100%;
    background-color: #f0f2f5;
}

.pad {
    padding: 0px 20px;
}

.red-txt {
    color: #F20000;
}

.grey-txt {
    color: #828282;
}

.main {
    padding-bottom: 110px;
}

.pic-carousel {
    width: 100%;
    height: 716px;
    position: relative;
}

.swiper-container, .swiper-wrapper, .swiper-slide, .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
}

.pic-carousel .page {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #c6c6cc;
    line-height: 85px;
    font-size: 38px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    bottom: 22px;
    right: 36px;
    z-index: 99997;
}

.price-box h2 {
    font-size: 33px;
    padding: 10px 25px;
}

.price-box .price, .viewPrices {
    font-size: 32px;
}

.price-box .price .price-new label {
    font-size: 45px;
}

.price-box .price .limited-count {
    color: #FFFFFF;
    background-color: #F20000;
    padding: 3px 12px;
    font-size: 28px;
    margin-right: 30px;
}

.price-box .price .price-old {
    color: #828282;
}

.price-box .before-price span {
    text-decoration: line-through;
}

.select {
    height: 108px;
    line-height: 108px;
    background-color: #FFFFFF;
    font-size: 33px;
    border-top: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    background-image: url(/images/mall/img/black-arrow.png);
    background-repeat: no-repeat;
    background-position: 815px center;
    margin: 10px 0px;
}

.address {
    color: #828282;
    font-size: 28px;
    background-color: #FFFFFF;
    /* background-image: url(/images/mall/img/black-arrow.png); */
    background-repeat: no-repeat;
    background-position: 815px center;
    margin-bottom: 10px;
    height: 106px;
    border-top: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
}

.address div {
    height: 28px;
}

.address div.add_div {
    height: 106px;
}

.address .addr {
    color: #000000;
    display: inline-block;
    width: 600px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}

.address .addr-box {
    line-height: 2;
}

.address em {
    display: inline-block;
    width: 21px;
    height: 23px;
    vertical-align: middle;
    margin: 0 5px;
    background: url(/images/mall/img/mallMap.png) no-repeat center center;
}

.address .pay {
    display: inline-block;
    min-width: 150px;
    height: 106px;
    line-height: 106px;
}

.go-other {
    margin: 10px 0px;
    height: 60px;
    padding: 26px 20px;
    background-color: #FFFFFF;
    border-top: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
}

.go-other .mall-name {
    /* width: 48%; */
    width: 63%;
    display: inline-block;
    vertical-align: top;
}

.go-other .mall-name img {
    width: 72px;
    height: 60px;
    float: left;
}

.go-other .mall-name p {
    height: 60px;
    line-height: 60px;
    font-size: 33px;
    padding-left: 10px;
    overflow: hidden;
}

.go-other .other-mall {
    /* width: 49%; */
    width: 35%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.go-other .other-mall a {
    display: inline-block;
    width: 128px;
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 28px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid #ababab;
}

.footer {
    position: fixed;
    bottom: 0;
    padding: 7px 20px;
    width: 830px;
    height: 94px;
    border-top: 1px solid #e3e4e5;
    margin-top: 10px;
    background-color: #FFFFFF;
}

.footer ul {
    width: 100%;
    overflow: hidden;
}

.footer ul li {
    float: left;
    margin-right: 10px;
}

.footer ul li:last-child {
    margin-right: 0px;
}

.footer ul li.foot-item {
    width: 90px;
    padding: 15px 0px;
}

.footer ul li.foot-item img {
    display: block;
    margin: 0 auto;
}

.footer ul li.foot-item p {
    text-align: center;
    font-size: 20px;
}

.shop-btn {
    display: inline-block;
    width: 310px;
    height: 94px;
    line-height: 94px;
    text-align: center;
    font-size: 33px;
    color: #FFFFFF;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}

.add-shop {
    background-color: #ff8522;
}

.now-shop {
    /* background-color: #f23030; */
}

/*遮罩层样式*/
.fade, .fade1 {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 99998;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
}

/*弹出层样式*/
.attr-lay {
    z-index: 99999;
    position: fixed;
    bottom: 0;
    width: 870px;
    max-height: 515px;
    padding-bottom: 15px;
    background-color: #FFFFFF;
}

.attr-lay .delete {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(/images/mall/img/delete.png) no-repeat center center;
    position: absolute;
    right: 10px;
    top: 10px;
}

.lay-header {
    background-color: #FFFFFF;
    height: 160px;
    position: relative;
    border-bottom: 2px solid #cbc9c9;
}

.lay-header .img-box {
    width: 207px;
    height: 207px;
    border: 2px solid #edeef1;
    border-radius: 8px;
    background-color: #FFFFFF;
    position: absolute;
    left: 28px;
    top: -62px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}

.img-box img {
    max-width: 100%;
    max-height: 100%;
}

.lay-header .header-box {
    position: relative;
    left: 270px;
    top: 65px;
    width: 552px;
    font-size: 30px;
    color: #828282;
}

.lay-header .sum {
    color: #F20000;
    font-size: 33px;
    line-height: 1.6;
}

.lay-header .inv-num {
    font-size: 25px;
}

.lay-content {
    padding: 0px 20px;
    background-color: #FFFFFF;
    font-size: 30px;
    color: #828282;
}

.lay-content .content-box .title {
    line-height: 1.8;
}

.lay-content .inv-list {
    overflow: hidden;
}

.lay-content .inv-list .inv-item {
    float: left;
    min-width: 150px;
    height: 55px;
    line-height: 55px;
    border: 2px solid #cbcccc;
    margin-right: 27px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.lay-content .inv-list .inv-item-active {
    border-color: #f23030;
    color: #F23030;
}

.lay-bottom {
    text-align: center;
    background-color: #FFFFFF;
    padding-top: 10px;
}

em {
    font-style: normal;
}

.gw_num {
    border: 2px solid #828282;
    width: 203px;
    line-height: 50px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 15px;
}

.gw_num em {
    display: block;
    height: 50px;
    width: 64px;
    float: left;
    color: #7A7979;
    text-align: center;
    cursor: pointer;
    font-size: 35px;
    background-color: #cbc9c9;
}

.gw_num .num {
    display: block;
    float: left;
    text-align: center;
    width: 70px;
    font-style: normal;
    font-size: 26px;
    line-height: 50px;
    border: 0;
}

.gw_num em.add {
    float: right;
    border-right: 0;
}

/********修改***********/
.count-down {
    width: 450px;
    height: 50px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #FFFFFF;
    margin: 5px 0px 5px 20px;
    font-size: 28px;
    border: 1px solid #F20000;
}

.count-down label {
    display: inline-block;
    width: 165px;
    height: 100%;
    line-height: 50px;
    background-color: #ed5050;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
}

/*拍卖修改*/
.auction-time {
    margin: 12px 0;
}

.auction-hammer {
    background-color: #ed5050;
    color: #FFFFFF;
    height: 80px;
    width: 250px;
    line-height: 80px;
    margin-left: 40px;
    font-size: 28px;
    border-radius: 10px;
}

.auction-hammer a {
    display: block;
    color: #FFFFFF;
}

.hammer {
    width: 50px;
    margin: 0 5px;
    vertical-align: middle;
}

.lookers {
    margin-left: 20px;
    font-size: 20px;
}

.auction-info {
    padding: 10px 20px;
    border-top: 1px solid #c7c7c7;
    font-size: 28px;
    color: #828282;
}

.auction-rule {
    background-color: #FFFFFF;
    margin: 10px 0;
    border-top: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    font-size: 28px;
}

.rule-title {
    height: 95px;
    line-height: 95px;
    border-bottom: 1px solid #e3e4e5;

}

.rule-title .title-right {
    text-align: right;
    color: #828282;
}

.rule-step {
    padding: 25px 0;
}

.rule-step i {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    background-color: #cccccc;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 8px;
    font-style: normal;
}

/*出价*/
.bid-price {
    width: 160px;
    height: 50px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 6px;
}

.bid-hammer {
    padding: 12px 20px;
    display: inline-block;
    width: 127px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.wins {
    padding: 0px 20px;
    color: #F20000;
    display: inline-block;
}

.bid-change {
    width: 50px;
    height: 50px;
    border-radius: 0px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #ababab;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.viewPrices {
    height: 58px;
    line-height: 58px;
    margin-top: 10px;
    vertical-align: middle;
}

.viewSpan {
    float: right;
    color: #d61244;
    height: 35px;
    line-height: 35px;
    margin-right: 20px;
    vertical-align: middle;
    font-size: 25px;
}

.viewSpan em {
    margin-right: 10px;
    /* border: 1px solid #d61244;
    width: 90px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    background-color: #d61244;
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
    vertical-align: middle; */
}

.count-down.startTimes, .count-down.endTimes {
    border: 1px solid #999;
}

.count-down.startTimes label, .count-down.endTimes label {
    background-color: #999;
}

.count-down.startTimes span, .count-down.endTimes span {
    color: #999;
}

.auction-hammer.noStart, .auction-hammer.isEnd {
    background-color: #717171;
}

.swiper-slide {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}

.imgDivAttr {
    background-color: #fff;
}

.imgDivAttr, .msgDivAttr {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    overflow: hidden
}

.titleDiv {
    height: 9%;
}

.imgDivAttr .imgDiv {
    height: 90%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}

.titleDiv i {
    float: right;
}

.imgDivAttr img {
    max-height: 90%;
    max-width: 100%;
}

.imgDivAttr .delete, .msgDivAttr .delete {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(/images/mall/img/delete.png) no-repeat center center;
    position: absolute;
    right: 10px;
    top: 10px;
}

div.msgDivAttr {
    overflow: hidden;
}

.msgsDiv {
    width: 90%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
    margin: 0px auto;
}

.msgDivAttr .cl {
    position: relative;
    background-color: #fff;
}

.msgDiv {
    padding: 10px;
    font-size: 30px;
}

h2.product_nameclass {
    vertical-align: middle;
}

.label_i {
    font-size: 18px;
    width: auto;
    height: 26px;
    line-height: 26px;
    border-radius: 10px;
    background-color: #e4393c;
    display: inline-block;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    padding: 0px 5px;
}

i {
    font-style: normal;
}

/*商城升级2.0**/
.collects_nav {
    width: 80px;
    height: auto;
    float: right;
}

.collects_nav .collect {
    /* float: right; */
    display: inline-block;
    text-align: center;
    font-size: 25px;
    line-height: 24px;
    color: #000;
}

.collects_nav .collect p {
    margin-top: 3px;
}

.collects_nav .collectTxt {
    color: #d61244;
    font-size: 25px;
    float: right;
    line-height: 30px;
}

.newPriceDiv {
    font-size: 42px;
    line-height: 64px;
}

.left_div .before-price {
    font-size: 32px !important;
    line-height: 42px;
}

.navDiv.pfj_span {
    line-height: 42px !important;
}

.right_div .viewSpan {
    line-height: 42px !important;
}

.module {
    border-top: 2px solid #e3e4e5;
    background-color: #FFFFFF;
}

.module nav {
    height: 108px;
    line-height: 108px;
    border-bottom: 2px solid #e3e4e5;
}

.module nav li {
    text-align: center;
    font-size: 30px;
    color: #666;
    box-sizing: border-box;
}

.module nav li a {
    display: inline-block;
    width: 174px;
    height: 100px;
    outline: none;
}

.module nav .cur {
    border-bottom: 10px solid #e4393c;
    color: #e4393c;
}

.packingList {
    font-size: 25px;
    color: #666;
}

.changeMain {
    display: none;
}

.packingList hr {
    display: inline-block;
    width: 340px;
    vertical-align: middle;
    background-color: #e3e4e5;
}

.packingList .title {
    margin-top: 20px;
}

.packingList .title span {
    padding: 0px 10px;
}

.packingList .main {
    padding-bottom: 0;
    font-size: 25px;
    background: url('/images/mall/new/loading.gif') no-repeat 50% 10%;
}

.mainList li {
    padding: 6px 0;
}

.mainList li div:nth-of-type(1) {
    text-align: justify;
    text-align-last: justify;
}

.mainList li div:nth-of-type(2) {
    margin-left: 40px;
}

.assess {
    padding: 22px 0;
}

.assess a {
    display: block;
    width: 172px;
    height: 42px;
    line-height: 42px;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
    color: #666;
}

.assess a.curAssess {
    color: #FFFFFF;
    background-color: #e4393c;
}

.assessMain {
    padding: 0 20px;
    display: none;
    background: url('/images/mall/new/loading.gif') no-repeat 50% 10%;
    min-height: 30px;
}

.assessMain li {
    padding: 16px 0;
    border-top: 2px solid #e3e4e5;
    font-size: 30px;
}

.assessMain .itemInfo img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: block;
    vertical-align: middle;
}

.assessMain .itemInfo div {
    margin-left: 22px;
}

.assessMain .itemTxt {
    padding: 10px 0;
    color: #666;
}

.assessMain .itemPic img {
    width: 85px;
    height: 85px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.fixRig {
    position: fixed;
    right: 30px;
    bottom: 20%;
}

.fixRig a {
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.fixRig a.top {
    background-image: url(/images/mall/new/top.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px 38px;
    margin-bottom: 25px;
}

.fixRig a.kefu {
    background-image: url(/images/mall/new/kf.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 38px 35px;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.grey-text {
    color: #ccc;
    font-size: 25px;
}

#nav1Main img {
    width: 100% !important;
}