* {
  list-style: none;
  margin: 0;
  padding: 0;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-pack-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-pack-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.txt_small {
  font-size: 0.25rem;
}
.colorf0 {
  color: #f01414;
}
.color01 {
  color: #01aaed!important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.text-right {
  text-align: right;
}
.pb {
  padding-bottom: 0.1rem;
}
.pt {
  padding-top: 0.2rem;
}
a {
  color: #000000;
}
html,
body {
  height: 100%;
}
.warp {
  width: 7.5rem;
  overflow: hidden;
  margin: 0 auto;
  font-size: 0.28rem;
  background-color: #fafafa;
  line-height: 1.5;
  min-height: 100%;
}
.weui-cells_checkbox .quotes_check:checked + .weui-icon-checked:before {
  color: #01aaed!important;
}
.quotes_switch:checked {
  border-color: #01aaed!important;
  background-color: #01aaed!important;
}
/***********************************************妫ｆ牠銆�***************************************************/
.quotes_header {
  /* padding: 0.25rem; */
  margin: 0 auto;
  background-color: #fafafa;
}
.quotes_header .quotes_header_pic {
  height: 3rem;
  background-color: #FFFFFF;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.quotes_header .header_pic {
  width: 100%;
  height: auto;
}
.quotes_header .quotes_header_h1 {
  font-size: 0.5rem;
  font-weight: normal;
  text-indent: 10px;
  width: 100%;
  line-height: 2
}
.quotes_company {
 /*  border-bottom: 1px solid #d2d2d2; */
  background-color: #fff;
  padding: 0.12rem 0.4rem;
}
.quotes_company .company_list {
  display: flex;
  line-height: 1.6;
}
.quotes_company .company_list .company_list_left {
  min-width: 2rem;
}
.quotes_company .company_list .company_list_right {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.quotes_line {
  padding:0.15rem 0.2rem;
/*   border-bottom: 1px solid #d2d2d2; */
  background-color: #fff;
}
.quotes_txt {
  padding: 0.12rem 0.4rem;
}
.order_item_right,
.order_item_left {
  display: inline-block;
  vertical-align: top;
}
.order_item_pic div {
  width: 1.67rem;
  height: 1.70rem;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  overflow: hidden;
}
.order_item_pic img {
  width: 100%;
  height: auto;
}
.quotes_order_item {
  padding: 0.12rem 0.4rem;
  background-color: #fff;
  margin-bottom: 0.16rem;
  /* border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2; */
}
.quotes_order_item .order_item_right {
  width: 4.85rem;
}
.quotes_order_item .order_item_detail .detail1 {
  font-size: 0.3rem;
  margin-top: -0.1rem;
}
.quotes_order_item .order_item_detail .detail2 {
  font-size: 0.23rem;
  color: #6f717e;
}
.quotes_explain {
  background-color: #fff;
  padding: 0.12rem 0.4rem;
  margin: 0.14rem auto;
  /* border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2; */
  min-height: 1rem
}
.quotes_explain .quotes_explian_right {
  margin-left: 1rem;
}
.quotes_msg_list {
  background-color: #fff;
  /* border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2; */
  margin: 0.14rem auto;
}
.quotes_msg_list li:last-child {
  border-bottom: none;
}
.quotes_msg_list .quotes_msg {
  border-bottom: 1px solid #d2d2d2;
  padding: 0.12rem 0.4rem;
}
.quotes_msg_list .quotes_msg_tit {
  padding: 0 15px;
  text-align: right;
  background: url("/images/mall/purchase/icon1.png") no-repeat right center;
  background-size: 0.3rem 0.3rem;
  margin-right: 0.3rem
}
.quotes_msg_list .quotes_msg_tit a {
  display: block;
  color: #000000;
  padding-right: 0.1rem
}
.quotes_msg_list .quotes_msg_time {
  color: #999999;
  padding-left: 1.4rem;
  font-size: 13px;
}
.quotes_attention {
  padding: 0.3rem 0;
  background-color: #fff;
  margin: 0.14rem auto;
 /*  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2; */
}
.quotes_attention .attention_code {
  height: 1.65rem;
  display: block;
  margin: 0 auto;
}
.quotes_attention .attention_txt {
  line-height: 2.5;
  text-align: center;
}
.quotes_attention .attention_support {
  width: 24%;
  display: block;
  margin: 0 auto;
  padding-top: 0.5rem;
}
.quotes_footer {
  /* border-top: 1px solid #d2d2d2; */
  padding: 0 0;
  background-color: #fff;
  font-size: 0.24rem
}
.quotes_footer .quotes_footer_pay {
  width: 75%;
  text-align: center;
}
.quotes_footer .quotes_footer_ok {
  width: 25%;
  background-color: #01aaed;
  color: #FFFFFF;
  text-align: center;
 /*  line-height: 1.25rem; */
  height: 1.25rem;
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/***********************************************閸愭瑧鏆�懛锟�**************************************************/
.quotes_title {
  font-size: 0.47rem;
  font-weight: normal;
  padding: 0.12rem 0.4rem;
}
.quotes_form_item {
  height: 44px;
  line-height: 44px;
}
.quotes_msg_form {
  margin: 1.17647059em 0;
}
.quotes_btn_primary {
  background-color: #01aaed;
}
/**************************************************绾喛顓荤拋銏犲礋***********************************************/
.quotes_tips {
  font-size: 13px;
  color: #b2b2b2;
}
/*************************************************閸熷棗鎼х拠锔藉剰**********************************************/
.quotes-carousel {
  width: 100%;
  height: 3.28rem;
  position: relative;
}
.quotes-carousel .swiper-container {
  height: 100%;
}
.quotes-carousel .swiper-slide {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #fff;
}
.quotes-carousel .carousel_pic {
 /*  max-width: 100%;
  max-height: 100%; */
  width: 100%
}
.quotes-carousel .page {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #c6c6cc;
  line-height: 0.75rem;
  font-size: 0.25rem;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  bottom: 0.35rem;
  right: 0.30rem;
  z-index: 99997;
}
.quotes_fee {
  padding: 0.12rem 0.4rem;
  font-size: 0.32rem;
}
.quotes_fee h2 {
  font-size: 0.32rem;
  font-weight: normal;
}
.quotes_fee .quotes_fee_discount {
  margin: 0.25rem 0;
}
.quotes_fee .quotes_fee_other {
  color: #6f717e;
  font-size: 0.26rem;
}
/******************************************閸氬牆鎮撻崡蹇氼唴****************************************/
.hetong_main {
  height: 84%;
  width: 6.84rem;
  margin: 0.22rem auto;
  background-color: #FFFFFF;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.hetong_main h1 {
  font-size: 0.36rem;
  font-weight: normal;
  text-align: center;
}
.hetong_footer {
  height: 15%;
}
.hetong_main article{
	padding: 0 10px;
    overflow-x: hidden;
}
/******闁挎瑨顕ら幓鎰仛******/
.error {
  position: fixed;
  top: 0;
  width: 100%;
  height: 46px;
  line-height: 46px;
  background-color: #e64340;
  color: #FFFFFF;
  text-align: center;
  display: none;
  font-size: 17px;
}
.quankuan{
	line-height: 1.25rem
}


.company_list_left{
	background-size: auto 0.36rem;
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 0.45rem 
}
.company_list_left1{
	background-image: url("/images/mall/purchase/purchase_company.png"); 
	
}
.company_list_left2{
	background-image: url("/images/mall/purchase/purchase_address.png"); 
	
}
.company_list_left3{
	background-image: url("/images/mall/purchase/purchase_phone.png"); 
	
}
.company_list_left4{
	background-image: url("/images/mall/purchase/purchase_word.jpg"); 
	
}
.quotes_footer_pay{
	position: relative;
}
.quotes_footer_pay .flex{
	width: 95%;
}
.link_icon{
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translate(0%, -50%)
}
.link_icon img{
	width: 0.4rem
}
.box_ver{
	    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
}
.huifu_cell{
	position: relative;
	padding: 5px 15px 15px 68px;
}
.huifu_cell:before{
	content: " ";
    position: absolute;
    left: 68px;
    top: 2px;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}

.boderbottom,.bodertop{
	position: relative;
}
.boderbottom:after{
	content: " ";
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}
.bodertop:before{
	content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}
