html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
}

.df {
	display: flex;
	display: -webkit-flex;
}

.flex-row-sc {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	-webkit-justify-content: flex-start
}

.flex-row-bt {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	-webkit-justify-content: space-between
}

.wrap {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap
}

.txt-overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* End hide from IE-mac */
/*搜索框开始*/
.ms-box {
	height: 1.64rem;
	background: #f6f6f6;
	box-sizing: border-box;
	border-bottom: .04rem solid #d2d2d2;
	position: relative;
	padding-top: .27rem;
}

.s-input {
	display: block;
	margin: 0 auto;
	height: 1.1rem;
	width: 12.04rem;
	border-radius: 0.2rem;
	background: #fff;
	outline: 0 none;
	border: .04rem solid #dedede;
	box-sizing: border-box;
	font-size: 0.48rem;
	text-indent: .2rem;
	-webkit-appearance: none;
}

.srh-icon {
	display: block;
	background: url(/images/mall/img/fdj.jpg) no-repeat;
	background-size: 0.72rem auto;
	width: 0.72rem;
	height: 0.6rem;
	position: absolute;
	bottom: .52rem;
	right: .72rem;
}

.mCon {
	height: calc(100% - 3.17rem);
}

.srh-result {
	width: 100%;
	max-height: 10rem;
	overflow-y: auto;
	background-color: #fff;
	z-index: 1000;
	position: absolute;
	top: 3.64rem;
}

.srh-type {
	padding: .32rem;
	padding-bottom: 0;
	color: #7e7e7e;
}

.dus-icon {
	height: .6rem;
	width: .6rem;
	background: url("/images/mall/new/dust.png") no-repeat center center;
	background-size: 100%;
}

.srhUl {
	padding: .32rem;
}

.srhUl>li {
	padding: .24rem .2rem;
	background-color: #efefef;
	border: .04rem solid #e4e4e4;
	margin-bottom: .26rem;
}

.srhUl>li:not (:last-child ){
	margin-right: .26rem;
}
/*div layer*/
.m-layer {
	width: 100%;
	position: absolute;
	top: 3.65rem;
	background-color: rgba(0, 0, 0, 0.2);
	height: calc(100% - 1.64rem);
	z-index: 1000;
}
/************************************left menu**************************/
.ovh {
	height: 100%;
	overflow: hidden;
}

.ova {
	height: 100%;
	overflow-y: auto;
}
/**************************right*****************************/
.mRight {
	width: 100%;
}

.itemUl {
	padding-top: .5rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.itemUl>li {
	float: left;
	width: calc(100%/ 3);
	height: 3.2rem;
	text-align: center;
}

.itemUl>li>a {
	display: block;
	width: 100%;
}

.itemBg {
	width: 100%;
	text-align: center;
}

.bg-icon {
	display: inline-block;
	width: 1.92rem;
	height: 1.92rem;
	margin-bottom: .32rem;
	font-style: normal;
	background-color: #eee;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	line-height: 1.92rem;
	color: #7e7e7e;
	font-size: .45rem;
}

/*.item-icon {
	background-image: url("/images/a.jpg");
}*/
/*遮罩层 */
.cd-popup {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1000;
}

.cd-popup-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 60%;
	padding: .2rem;
	margin: auto;
	height: 3.5rem;
	background-color: #fff;
	box-sizing: border-box;
	font-size: .5rem;
	color: #5e5e5e;
}

.cd-text {
	padding: .5rem 0;
}

.cd-btns {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: .2rem 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cd-btn {
	display: inline-block;
	height: 1rem;
	line-height: 1rem;
	width: 45%;
	text-align: center;
	color: #fff;
}

.cd-cancel {
	background-color: #5e5e5e;
	margin-right: .2rem;
}

.cd-sure {
	background: #ff7b01;
}
/*遮罩层 end*/
.main {
	/* height: -webkit-calc(100% - 1.8rem - 5.3rem); */
}

ul.productList {
	display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;
	flex-wrap: wrap; -webkit-flex-wrap: wrap
}
.productList li:last-child{
	margin-bottom: 1.8rem
}
.price_spans{
	font-size: 0.56rem !important;
}
.width_100{
	width: 100% !important;
}