<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商场营销</title>
  <link href="../../static/css/vendor.css?79e4cefd361e84407577" rel="stylesheet"><link href="../../static/css/views/marketing/index.css?79e4cefd361e84407577" rel="stylesheet"></head>
  <body>
    <div id="app">
       <router-view></router-view> 
       <notice></notice>
       <dialog-warn ref="dialog"></dialog-warn>
       <copy-url ref="dialogQR"></copy-url>
	  </div>
  <script type="text/javascript" src="../../static/js/vendor.js?79e4cefd361e84407577"></script><script type="text/javascript" src="../../static/js/views/marketing/index.js?79e4cefd361e84407577"></script></body>
</html>
