.i-title {
	padding-bottom: 20px;
}

.verLine {
	width: 3px;
	display: inline-block;
	height: 27px;
	background-color: #23b4ff;
}

.t-name {
	font-size: 1.7em;
	color: #444444;
	margin-left: 20px;
}

.horLine {
	border-bottom: 1px solid #edebeb;
	width: calc(100% - 23px);
	float: right;
}

.i-main {
	margin-top: 45px;
}

.i-menu {
	width: 100%;
	/*border-bottom:1px solid #d3d3d3;*/
}

.i-menu li a {
	width: 101px;
	height: 32px;
	display: inline-block;
}

.i-menu>li {
	float: left;
	width: 101px;
	line-height: 32px;
	text-align: center;
	border: 1px solid #d3d3d3;
	border-bottom: none;
	border-right: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.i-menu>li:last-child {
	border-right: 1px solid #d3d3d3;
}

.cmenu-w {
	background-color: #fff;
}

.cmenu-g {
	background-color: #eee;
}

.ul-th {
	background-color: #fafafa;
	border-top: 1px solid #eee;
	margin-top: 1px;
}

.tr-wrap {
	border-bottom: 1px solid #eee;
}

.ul-tr {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

.ul-tr>li {
	float: left;
}

.td-title {
	float: left;
	line-height: 37px;
}

.ul-th>li, .ul-tr>li {
	margin-right: 1%;
	word-break: break-all;
}

.co-img-ul {
	padding-top: 15px;
	width: 100%;
}

.co-img-ul>li {
	float: left;
}

.co-img {
	display: block;
	margin: 0 15px 15px 0;
	width: 60px;
	height: 60px;
	background-color: #d3d3d3;
	/* background-image: url(/images/mall/new/a.jpg); */
	background-position: center center;
	-webkit-background-size: contain;
	background-size: contain;
}

.a-edit {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-image: url('/images/mall/new/edit.png');
	background-repeat: no-repeat;
}

.a-check {
	background-position: 0 0;
}

.a-check:hover {
	background-position: -20px 0;
}

.a-uncheck {
	background-position: -39px 0;
}

.a-uncheck:hover {
	background-position: -58px 0;
}

.a-del {
	background-position: -78px 0;
}

.a-del:hover {
	background-position: -97px 1px;
}

.co-replay {
	width: 95%;
	float: right;
	border-top: 1px solid #eee;
	padding: 10px 0;
}

.inputEle {
	margin-bottom: 10px;
	padding: 5px;
	width: 98%;
	height: 43px;
	border: 2px solid #d6dffa;
}

.co-emotion {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("/images/mall/new/emotion.png") no-repeat center center;
	background-size: contain;
}

.tri-g {
	display: inline-block;
	height: 0;
	width: 0;
	border-top: 6px solid #c2c2c2;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	margin: 0 5px;
}

.drawLine {
	width: 100%;
	position: relative;
}

.sHorizontalLine {
	width: 0px;
	height: 10px;
	border-bottom: 1px solid #bab6b6;
	position: absolute;
	left: 0;
	bottom: 0;
}

.lHorizontalLine {
	width: calc(100% - 102px);
	height: 10px;
	border-bottom: 1px solid #bab6b6;
	position: absolute;
	right: 0;
	bottom: 0;
}

.con-head {
	overflow: hidden;
	margin-bottom: 38px;
}

.con-head a {
	color: #fff;
	text-align: center;
	font-size: 16px;
	background-color: #888;
	float: left;
	line-height: 50px;
	display: block;
	width: 150px;
	height: 50px;
	margin-right: 1px;
	cursor: pointer;
}

.navColor {
	background-color: #8fc41a !important;
}

.blank {
	margin-right: 7px;
}

.qqFace {
	width: 40%;
	position: absolute;
	right: 0;
	top: 110px;
	z-index: 1000;
	overflow: auto;
	display: block;
	background-color: #fafafa;
	padding: 10px 0 10px 10px;
}

.co-replay, .co-replayed {
	width: 95%;
	float: right;
	border-top: 1px solid #eee;
	padding: 10px 0;
	position: relative;
}

.ui-btn {
	display: inline-block;
	border-radius: 2px;
	height: 26px;
	line-height: 26px;
	padding: 0 12px;
	cursor: pointer;
	color: #333;
	background: #f8f8f8;
	border: 1px solid #ddd;
	text-align: center;
	font-size: 12px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.ui-btn:hover {
	background: #fff;
}

.right-10 {
	float: left;
	width: auto;
}