<div class="guideDirective" ng-controller="guideController">

	<div class="edit-box-list">
		<div class="oh">
			<div class="edit-box-list-cell edit-box-list-left">颜色：</div>
			<div class="edit-box-list-cell">
				<input type="color" value="{{dataedit.color}}" ng-model="dataedit.color"/>
				
				<label class="gt-checkbox__inner" style="margin-left:29px">
					<input type="checkbox" class="el-checkbox__original" value="true" ng-model="dataedit.leftSide" />
					<span style="margin-right:8px"></span>左右留边
				</label>
			</div>
		</div>
		<div class="oh">
			<div class="edit-box-list-cell edit-box-list-left">样式：</div>
			<div class="edit-box-list-cell">
				
				<label class="radio inline regular-radio">
					<input type="radio" value="0" name="style" ng-model="dataedit.style"/>
					<span></span>实线
				</label>
				
				<label class="radio inline regular-radio">
					<input type="radio" value="1" name="style" ng-model="dataedit.style"/>
					<span></span>虚线
				</label>
				
			</div>
		</div>
	</div>
	
</div>