.reservation{
	width:320px;
	min-height:124px;
	padding:6.4px 12px;
    box-sizing: border-box;
    /* border-top:1px solid #f0f0f0; */
    border-bottom:1px solid #f0f0f0;
    position: relative;
}

.reservation .reservation_m{
	overflow: hidden;
}
.reservation .res-photo{
	width:129.3px;
	height:75px;
	background-size:cover;
	background-position: 50% 50%;
}
.reservation .res-photo,.reservation .res-m{
	float: left;
}
.reservation .res-m{
	width: 162px;
}
.reservation .res-photo{
	text-align: center;
}
.reservation .res-photo img{
	max-width:130px;
	min-height:76.8px;
}

.reservation .res-title{
	color:#333;
	font-size:10.7px;
}

.reservation .res-m1{
	color:#989898;
	font-size:9px;
	height:25.6px;
	overflow: hidden;
}
.reservation .res-m2{
	color:#ff5252;
	font-size:7.3px;
}

.reservation .res-money span.r-money{
	width:75.5px;
   	display: inline-block;
	color:#cf1747;
    font-size: 15px;
}
.reservation .res-btn {
	display: inline-block;
	vertical-align: top;
}
.reservation .res-money button{
	width:80px;
	height:24.3px;
	background-color: #529422;
	color:#fff;
	font-size:11px;
	border:0;
	border-radius:3px;
   	box-shadow: 3px 3px 3px #555;
}
.reservation .res-money button img{
	margin-left:3px;
	vertical-align: text-top;
}
.reservation .res-p{
	color:#c8c8c8;
	font-size:9px;
	text-align: center;
}
.reservation .res-p span{
	color:#d85b75;
}

.reservation_b{
	height:16px;
	line-height:16px;
	position:absolute;
	font-size:9px;
	color:#fff;
    text-align: center;
    bottom: 6.4px;
}
.reservation_b .icon_time{
	width:81px;
	background-color: #cf1747;
    float: left;
    border-right: 1px solid #fff;
}
.reservation_b .icon_time img{
	margin-right:5px;
	vertical-align: middle;
}
.reservation_b .time-d{
	width:90px;
	float: left;
	background-color: #ffb422;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
}
.reservation_b.end-a .time-d{
	background-color: #b7b5b1;
}
.reservation_b.end-a .icon_time{
	background-color: #807c7d;
}

.reservation .clock{
	width:57px;
	position: absolute;
	left:0px;
	top:0px;
}